<h2>{{ isEdit ? 'Edit Business Partner' : 'Create Business Partner' }}</h2>

<form [formGroup]="form" (ngSubmit)="save()" class="form-grid">

  <!-- BASIC INFORMATION -->
  <div class="section-title">Basic Information</div>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
    @if (form.get('name')?.touched && form.get('name')?.hasError('required')) {
      <mat-error>
        Name is required
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contact Person</mat-label>
    <input matInput formControlName="contact_Person">
    @if (form.get('contact_Person')?.touched && form.get('contact_Person')?.hasError('required')) {
      <mat-error>
        Contact Person is required
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
      <mat-error>
        Email is required
      </mat-error>
    }
    @if (form.get('email')?.touched && form.get('email')?.hasError('email')) {
      <mat-error>
        Enter valid email address
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input matInput formControlName="mobile_Number">
    @if (form.get('mobile_Number')?.touched && form.get('mobile_Number')?.hasError('required')) {
      <mat-error>
        Mobile number is required
      </mat-error>
    }
    @if (form.get('mobile_Number')?.touched && form.get('mobile_Number')?.hasError('pattern')) {
      <mat-error>
        Enter valid 10 digit number
      </mat-error>
    }
  </mat-form-field>

  <!-- IDENTIFIERS -->
  <div class="section-title">Identifiers</div>

  <mat-form-field appearance="outline">
    <mat-label>E-Identifier</mat-label>
    <input matInput formControlName="e_Identifier">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Legal Reg Identifier</mat-label>
    <input matInput formControlName="legal_Reg_Identifier">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Legal Reg Type</mat-label>
    <input matInput formControlName="legal_Reg_Type">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tax Identifier</mat-label>
    <input matInput formControlName="tax_Identifier">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tax Scheme Code</mat-label>
    <input matInput formControlName="tax_Scheme_Code">
  </mat-form-field>

  <!-- ADDRESS -->
  <div class="section-title">Address</div>

  <mat-form-field appearance="outline">
    <mat-label>Address Line</mat-label>
    <input matInput formControlName="addressLine1">
    @if (form.get('addressLine1')?.touched && form.get('addressLine1')?.hasError('required')) {
      <mat-error>
        Address is required
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput formControlName="city">
    @if (form.get('city')?.touched && form.get('city')?.hasError('required')) {
      <mat-error>
        City is required
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>State / Subdivision</mat-label>
    <input matInput formControlName="country_Subdivision">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country">
    @if (form.get('country')?.touched && form.get('country')?.hasError('required')) {
      <mat-error>
        Country is required
      </mat-error>
    }
  </mat-form-field>

  <!-- TYPE -->
  <div class="section-title">Partner Type</div>

  <div class="checkbox-group">
    <mat-checkbox formControlName="is_Seller">
      Seller
    </mat-checkbox>

    <mat-checkbox formControlName="is_Customer">
      Customer
    </mat-checkbox>
  </div>

  @if (form.touched && !form.value.is_Seller && !form.value.is_Customer) {
    <div class="type-error"
      >
      Partner must be Seller, Customer, or both
    </div>
  }

  <!-- ACTIONS -->
  <div class="form-actions">
    <button mat-stroked-button
      type="button"
      routerLink="/business-partner">
      Cancel
    </button>

    <button mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid">
      {{ isEdit ? 'Update' : 'Create' }}
    </button>
  </div>

</form>