<h2>{{ isEdit ? 'Edit Quote' : 'Create Quote' }}</h2>

<form [formGroup]="form" class="quote-form">

  <!-- ================= HEADER ================= -->

  <div class="form-grid">

    <p-floatlabel class="w-full md:w-56" variant="on">
      <input pInputText formControlName="quote_No" readonly fluid />
      <label>Quote No</label>
    </p-floatlabel>

    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-datepicker formControlName="quote_Date" dateFormat="yy-mm-dd" fluid />
      <label for="quote_Date">Quote Date</label>
    </p-floatlabel>

    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-select [options]="customers" optionLabel="name" [invalid]="isInvalid('customer_Id')" optionValue="customer_Id"
        formControlName="customer_Id" fluid></p-select>
      @if (isInvalid('customer_Id')) {
      <p-message severity="error" size="small" variant="simple">Customer is required.</p-message>
      }
      <label for="quote_Date">Customer</label>
    </p-floatlabel>
  </div>


  <!-- ================= LINES ================= -->

  <div class="lines-container" [formGroup]="lineForm">
    <p-floatlabel class="w-full md:w-56" variant="on">

      <p-autocomplete formControlName="product" fluid [invalid]="isInvalid('pd_Id')" [dropdown]="true"
        (onSelect)="onProductSelected($event)" optionValue="product" [forceSelection]="true"
        [suggestions]="filteresproducts" (completeMethod)="filterProducts($event)" optionLabel="name" />
      @if (isInvalid('pd_Id')) {
      <p-message severity="error" size="small" variant="simple">Product is required.</p-message>
      }
      <label for="on_label">Product</label>
    </p-floatlabel>
    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-select [options]="modules" optionLabel="name" fluid optionValue="module_Id"
        formControlName="module_Id"></p-select>
      <label for="on_label">Module</label>
    </p-floatlabel>
    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-select [options]="serviceTypes" optionLabel="name" fluid optionValue="st_Id"
        formControlName="st_Id"></p-select>
      <label for="on_label">Service Type</label>
    </p-floatlabel>
    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-inputNumber formControlName="rate" mode="currency" fluid="" [currency]="currencyCode"></p-inputNumber>
      <label for="on_label">Rate</label>
    </p-floatlabel>
    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-inputNumber formControlName="license_Count" fluid="" [min]="1"></p-inputNumber>
      <label for="on_label">License Count</label>
    </p-floatlabel>
    <div class="add-line">
      <button pButton label="Add Line" fluid icon="pi pi-plus" type="button" (click)="addLine()"></button>
    </div>

  </div>


  <!-- ================= ADD LINE ================= -->



  <p-table [value]="lines.controls">

    <ng-template pTemplate="header">
      <tr>
        <th>Product</th>
        <th>Module</th>
        <th>Service</th>
        <th>Last Billed Rate</th>
        <th>License Count</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-i="rowIndex">
      <tr [formGroup]="row">

        <td>{{ getProductName(row.value.pd_Id) }}</td>
        <td>{{ getModuleName(row.value.module_Id) }}</td>
        <td>{{ getServiceName(row.value.st_Id) }}</td>
        <td [ngClass]="'text-right'">{{ row.value.rate| erpCurrency }}</td>
        <td>{{ row.value.license_Count }}</td>
        <td [ngClass]="'text-right'">{{ row.value.rate| erpCurrency }}</td>
        <td class="actions">
          <button pButton icon="pi pi-pencil" (click)="editLine(i)"></button>
          <button pButton icon="pi pi-trash" (click)="removeLine(i)"></button>
        </td>

      </tr>
    </ng-template>

  </p-table>

  <!-- ================= TOTALS ================= -->

  <div class="summary-section">

    <!-- LEFT SIDE (Totals) -->
    <div class="terms">
      <p-floatlabel variant="on">
        <textarea id="tc" rows="7" cols="30" style="resize: none;" pTextarea formControlName="t_C" fluid></textarea>
        <label for="tc">Terms & Conditions</label>
      </p-floatlabel>
    </div>





    <!-- RIGHT SIDE (Terms) -->

    <div class="totals">

      <p-floatlabel class="w-full md:w-56" variant="on">

        <p-inputNumber formControlName="total_Amt" [inputStyle]="{ 'text-align': 'right' }" fluid mode="currency"
          [currency]="currencyCode" readonly></p-inputNumber>
        <label>Total Amount</label>
      </p-floatlabel>

      <p-floatlabel class="w-full md:w-56" variant="on">

        <p-inputNumber (onBlur)="onDiscount($event)" formControlName="discount" [inputStyle]="{ 'text-align': 'right' }" fluid></p-inputNumber>
        <label>Discount</label>
      </p-floatlabel>

      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-inputNumber formControlName="net_Amt" [inputStyle]="{ 'text-align': 'right' }" mode="currency" fluid
          currency="INR" readonly></p-inputNumber>
        <label>Net Amount</label>
      </p-floatlabel>

    </div>
  </div>


  <!-- ================= FLAGS ================= -->

  <div class="flags">
    <div class="flex items-center gap-2">
      <p-checkbox formControlName="quote_Send" [binary]="true" inputId="quote_Send"
        [invalid]="isInvalid('quote_Send')" />
      <label for="quote_Send"> Quote Send</label>
    </div>
    <div class="flex items-center gap-2">
      <p-checkbox formControlName="contract_Signed" [binary]="true" inputId="contract_Signed"
        [invalid]="isInvalid('contract_Signed')" />
      <label for="contract_Signed"> Contract Signed</label>
    </div>
    <div class="flex items-center gap-2">
      <p-checkbox formControlName="invoiced" [binary]="true" inputId="invoiced" [invalid]="isInvalid('invoiced')" />
      <label for="invoiced"> Invoiced</label>
    </div>
    <div class="flex items-center gap-2">
      <p-checkbox formControlName="payment_Received" [binary]="true" inputId="payment_Received"
        [invalid]="isInvalid('payment_Received')" />
      <label for="payment_Received"> Payment Received</label>
    </div>

    <div class="increase-section">
      <p-floatlabel class="w-full md:w-56" variant="on">

        <input pInputText formControlName="increased_Rate" fluid type="number" />
        <label>Increase By (%)</label></p-floatlabel>

      <button pButton label="Change" (click)="previewIncrease()"></button>
    </div>
  </div>
  <!-- ================= TERMS ================= -->

  <!-- <div class="increase-section">

    <label>Increase By (%)</label>

    <input pInputText formControlName="increased_Rate" type="number" />

    <button pButton label="Change" (click)="previewIncrease()"></button>

     <button pButton label="Apply" severity="success" (click)="applyIncrease()"></button> 

  </div> -->

  <app-file-upload [existingFiles]="existingFiles" (filesChanged)="onFilesChanged($event)">
  </app-file-upload>
  <!-- ================= ACTIONS ================= -->

  <div class="actions">

    <button pButton label="Cancel" severity="secondary" routerLink="/quote" type="button"></button>

    <button pButton label="Save Quote" icon="pi pi-check" type="submit" [disabled]="form.invalid || lines.length === 0"
      (click)="save()"></button>

  </div>

</form>