<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" [ngClass]="{ 'collapsed': isCollapsed }" [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile">

    <div class="logo-section">
      <div class="logo" *ngIf="!isCollapsed">ERP Pro</div>
      <button mat-icon-button (click)="toggleSidebar()" *ngIf="!isMobile">
        <mat-icon>{{ isCollapsed ? 'menu' : 'menu_open' }}</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>dashboard</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Dashboard</span>
      </a>
      <a mat-list-item *ngIf="user?.userRole === 'Admin'" routerLink="/users" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>people</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Users</span>
      </a>

      <a mat-list-item routerLink="/business-partner" routerLinkActive="active">
        <mat-icon>business</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Business Partners</span>
      </a>

      <a mat-list-item routerLink="/invoice" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>receipt_long</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Invoices</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- TOP TOOLBAR -->
    <mat-toolbar color="primary" class="toolbar">

      <button *ngIf="isMobile" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="app-title">ERP Management</span>

      <span class="spacer"></span>

      <!-- Dark Mode Toggle -->
      <button mat-icon-button (click)="themeService.toggleTheme()">
        <mat-icon>
          {{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
      </button>

      <!-- User Menu -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

    </mat-toolbar>

    <!-- PAGE CONTENT -->
    <div class="content">
      <nav class="breadcrumb">
        <span>Home</span>
        <mat-icon>chevron_right</mat-icon>
        <span class="current">{{ currentRoute }}</span>
      </nav>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>