<form [formGroup]="form" (ngSubmit)="save()" class="form-grid">

  <!-- Username -->
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username"  autocomplete="new-username">

    @if (f['username'].hasError('required')) {
      <mat-error>
        Username is required
      </mat-error>
    }
    @if (f['username'].hasError('minlength')) {
      <mat-error>
        Minimum 4 characters required
      </mat-error>
    }
    @if (f['username'].hasError('pattern')) {
      <mat-error>
        Only letters, numbers, underscore and dot allowed
      </mat-error>
    }
  </mat-form-field>

  <!-- Full Name -->
  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName">

    @if (f['fullName'].hasError('required')) {
      <mat-error>
        Full name is required
      </mat-error>
    }
    @if (f['fullName'].hasError('minlength')) {
      <mat-error>
        Minimum 3 characters required
      </mat-error>
    }
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">

    @if (f['email'].hasError('required')) {
      <mat-error>
        Email is required
      </mat-error>
    }
    @if (f['email'].hasError('email')) {
      <mat-error>
        Enter valid email address
      </mat-error>
    }
  </mat-form-field>

  <!-- Mobile -->
  <mat-form-field appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input matInput type="tel" formControlName="mobileNumber">

    @if (f['mobileNumber'].hasError('required')) {
      <mat-error>
        Mobile number is required
      </mat-error>
    }
    @if (f['mobileNumber'].hasError('pattern')) {
      <mat-error>
        Enter valid 10 digit number
      </mat-error>
    }
  </mat-form-field>

  <!-- Password (Only Create) -->
  @if (!isEdit) {
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password"  autocomplete="new-password" >
      @if (f['password'].hasError('required')) {
        <mat-error>
          Password is required
        </mat-error>
      }
      @if (f['password'].hasError('minlength')) {
        <mat-error>
          Minimum 8 characters required
        </mat-error>
      }
      @if (f['password'].hasError('pattern')) {
        <mat-error>
          Must include uppercase, lowercase, number and special character
        </mat-error>
      }
    </mat-form-field>
  }

  <!-- Actions -->
  <div class="form-actions">
    <button mat-stroked-button type="button" routerLink="/users">
      Cancel
    </button>

    <button mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || loading">

      {{ loading ? 'Saving...' : 'Save' }}
    </button>
  </div>

</form>