.dashboard {
  padding: 1rem;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  gap:5%;
}

.stat-card {
  border-radius: 12px;
  padding: 1rem;
  background: #fff;
}

.stat-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stat-content i {
  font-size: 2rem;
}

.stat-content h3 {
  margin: 0;
}
.chartgrid {
  display: grid;
  grid-auto-flow: column;
  gap:5%;
  width: 50%;
}
.card {
  padding: 1rem;
  border-radius: 12px;
}
.row {
  display: grid;
}