@if (invoice) {
<div class="invoice-container">
  <div class="top-bar">
    <p-splitbutton icon="pi pi-download" [model]="items" [rounded]="true" [text]="true" [raised]="true" />
  </div>
  <!-- FROM / TO SECTION -->
  <div id="invoice-content">
    <div class="from-to">
      <div class="from">
        <h3>From</h3>
        <p><strong>{{ company.name }}</strong></p>
        <p>{{ company.address_Line }}</p>
        <p>{{ company.city }}, {{ company.country_Subdivision }}</p>
        <p>{{ company.country }},{{ company.zip_Code }}</p>
        <p>{{ company.email }}</p>
      </div>
      <div class="to">
        <h3>To</h3>
        <p><strong>{{ invoice?.customer?.name }}</strong></p>
        <p style="white-space: pre-line;"> {{ invoice.customer.addressLine1 }}</p>
         <p>{{ invoice.customer.city }}, {{ invoice.customer.country_Subdivision }}</p>
        <p>{{ invoice.customer.country }},{{ invoice.customer.zip_code }}</p>
        <p>{{ invoice?.businessPoint?.email }}</p>
      </div>
    </div>
    <!-- INVOICE DETAILS -->
    <div class="invoice-meta">
      <div>
        <p><strong>Quote No:</strong> {{ invoice.quote_No }}</p>
        <p><strong>Date:</strong> {{ invoice.quote_Date | date }}</p>
      </div>
    </div>
    <!-- LINE ITEMS TABLE -->
    <table class="invoice-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Service Type</th>
          <th>Product</th>
          <th>Module</th>
          <th>Last Bill Rate</th>
          <th>License Count</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody>
        @for (line of invoice.lines; track line; let i = $index) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ line.serviceType }}</td>
          <td>{{ line.product }}</td>
          <td>{{ line.module }}</td>
          <td class="text-right">{{ line.previousRate??line.rate | erpNumber }}</td>
          <td>{{ line.license_Count }}</td>
          <td class="text-right"> {{ line.rate | erpNumber }}</td>
        </tr>
        }
      </tbody>
    </table>
    <!-- TOTALS -->
    <div class="totals">
        <div><strong>Increaed By:</strong> {{ invoice.increased_Rate}} %</div>
      <div><strong>Total:</strong> {{ invoice.total_Amt | erpNumber }}</div>
      <div><strong>Discount:</strong> {{ invoice.discount | erpNumber }}</div>
      <div class="grand-total">
        <strong>Net Total:</strong> {{ invoice.net_Amt | erpNumber }}
      </div>
    </div>
  </div>
</div>
}