<form [formGroup]="form" (ngSubmit)="save()" class="form-grid">

  <!-- Username -->
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username"  autocomplete="new-username">

    <mat-error *ngIf="f['username'].hasError('required')">
      Username is required
    </mat-error>
    <mat-error *ngIf="f['username'].hasError('minlength')">
      Minimum 4 characters required
    </mat-error>
    <mat-error *ngIf="f['username'].hasError('pattern')">
      Only letters, numbers, underscore and dot allowed
    </mat-error>
  </mat-form-field>

  <!-- Full Name -->
  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName">

    <mat-error *ngIf="f['fullName'].hasError('required')">
      Full name is required
    </mat-error>
    <mat-error *ngIf="f['fullName'].hasError('minlength')">
      Minimum 3 characters required
    </mat-error>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">

    <mat-error *ngIf="f['email'].hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="f['email'].hasError('email')">
      Enter valid email address
    </mat-error>
  </mat-form-field>

  <!-- Mobile -->
  <mat-form-field appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input matInput type="tel" formControlName="mobileNumber">

    <mat-error *ngIf="f['mobileNumber'].hasError('required')">
      Mobile number is required
    </mat-error>
    <mat-error *ngIf="f['mobileNumber'].hasError('pattern')">
      Enter valid 10 digit number
    </mat-error>
  </mat-form-field>

  <!-- Password (Only Create) -->
  <mat-form-field appearance="outline" *ngIf="!isEdit">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password"  autocomplete="new-password" >

    <mat-error *ngIf="f['password'].hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="f['password'].hasError('minlength')">
      Minimum 8 characters required
    </mat-error>
    <mat-error *ngIf="f['password'].hasError('pattern')">
      Must include uppercase, lowercase, number and special character
    </mat-error>
  </mat-form-field>

  <!-- Actions -->
  <div class="form-actions">
    <button mat-stroked-button type="button" routerLink="/users">
      Cancel
    </button>

    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || loading">

      {{ loading ? 'Saving...' : 'Save' }}
    </button>
  </div>

</form>